/* //gradients for webpages

//red-blue-white
background-color: #FFFFFF;
background-image: linear-gradient(199deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

//mandarin to orange
background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

//yellow-orange-pink
background-color: #FEE140;
background-image: linear-gradient(162deg, #FEE140 0%, #FA709A 100%); */

